html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

h1{
  color:rebeccapurple; 
  font-family: 'Trebuchet MS'; 
}

.box {
  /* border-width: 1px; 
  border-style: solid; 
  border-color: chartreuse; */
  border: 1px solid rgb(148, 117, 250);
  margin: 10px;
  padding: 10px; 
  margin-top: 50px; 
  background: aqua; 
}

.box2{
  position: absolute; 
  left: 0px; 
  top: 0px;
}

.box3{
  position: fixed; 
  right: 50px; 
  bottom: 50px;
}

.box4 {
  position: relative; 
  left: 10px; 
  top: -20px;
}